<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-balanced">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menu"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="menu">
        <ion-header-bar class="bar-balanced">
            <div class="title">Sestaoko Koadrilak</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list>
                <ion-item menu-close="" ui-sref="sestaokoKoadrilak.program" class="item-icon-left">
                    <i class="icon ion-android-calendar"></i>Programa</ion-item>
                <ion-item menu-close="" ui-sref="sestaokoKoadrilak.groups" class="item-icon-left">
                    <i class="icon ion-android-people"></i>Kuadrillas</ion-item>
                <ion-item menu-close="" ui-sref="sestaokoKoadrilak.bars" class="item-icon-left">
                    <i class="icon ion-android-bar"></i>Bares</ion-item>
                <ion-item menu-close="" ui-sref="sestaokoKoadrilak.rules" class="item-icon-left">
                    <i class="icon ion-android-alert"></i>Normas</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>